@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #141414;
  font-size: 62.5%;
  font-family: monospace;
}

.fadeout-horizontal {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 5rem,
    black calc(100% - 5rem),
    transparent
  );
}

.wrapper {
  padding: 3rem 0;
  color: white;
  font-size: 3rem;
}

/* .rotate-left {
  transform: rotate(-12deg);
}

.rotate-right {
  transform: rotate(12deg);
} */


.marquee-text {
  overflow: clip;
  margin-bottom: 2rem;
}

.marquee-text-track {
  display: flex;
  padding-left: 4.8rem;
  gap: 2rem;
  width: max-content;
  animation: marquee-move-text var(--speed, 10s) linear infinite
    var(--direction, forwards);
}

/* .marquee-text-track {
  animation-direction: reverse
} */

.marquee-text p {
  border: 1px solid white;
  background-color: #141414;
  border-radius: 999px;
  padding: 0.5rem 1.5rem;
  font-size: 2.5rem;
}

@keyframes marquee-move-text {
  to {
    transform: translateX(-50%);
  }
}
